.pickname-container {
  margin-top: 50px;
  margin-left: 120px;
  width: 70%;
  height: 80%;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  background-image: url(./assets/img/main.webp);
  background-repeat: no-repeat;
  background-position: right center;
}

.pickname-container p {
  padding: 10px 0 0 10px;
  font-weight: 800;
}
.pickname-container label {
  margin: 10px 0 0 10px;
  width: 30%;
  font-weight: 600;
}
.pickname-container input {
  margin: 10px 0 0 10px;
  width: 70%;
  outline: none;
  border: 2px solid #bbe4e9;
  color: #5585b5;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transition: 0.1s ease-in;
}

.pickname-container input:focus {
  border: 3px solid #5585b5;
}
.pickname-container button {
  margin: 10px 0 0 10px;
  width: 20%;
  height: 10%;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #5585b5;
  transition: 0.1s ease-in;
}
.pickname-container button:hover {
  border: 2px solid white;
}

.inner-grid {
  display: grid;
  grid-template-columns: 30% 30%;
  grid-template-rows: auto auto auto auto;
  white-space: nowrap;
}
.inner-grid select {
  width: 30%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 2px;
  margin: 10px 0 0 10px;
  padding: 5px;
  color: #5585b5;
  font-weight: 800;
}
.O-activated {
  color: red;
}
.inner-O {
  color: red;
  font-weight: 800;
}
.inner-X {
  color: blue;
  font-weight: 800;
}
.error-msg {
  color: white;
  margin: 5px;
  background-color: #eb2632;
  text-align: center;
  width: 300px;
  border-radius: 3px;
  font-weight: 600;
}
@media only screen and (max-width: 800px) {
  .pickname-container {
    background-position: bottom center;
    margin-left: 50px;
    margin-top: 5px;
    height: 100%;
  }
  .pickname-container p {
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .pickname-container label {
    width: 50%;
    font-weight: 500;
    font-size: 15px;
  }

  .inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    white-space: break-spaces;
  }
  .inner-grid select {
    width: 50%;
  }
  .pickname-container button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 7%;
    border-radius: 3px;
    align-self: center;
  }
  .error-msg {
    font-size: 12px;
    width: 200px;
  }
}
