body,
html,
#root {
  height: 100%;
}

.whole-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.main-wrapper {
  width: 800px;
  height: 500px;
  background-color: rgb(171, 28, 28);
  border-radius: 10px;
}
